<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.qmmall.mapper.ActivityMapper">

    <!--private Integer activityid;-->
    <!--private String activityname;-->
    <!--private Integer activitystate;-->
    <!--private String activitypic;-->
    <!--private Date activitystarttime;-->
    <!--private Date activityendtime;-->
    <!--private Integer productid;-->
    <!--private Integer activitytype;-->



    <!--Integer addActivity(Activity activity);-->
    <insert id="addActivity">
        INSERT  INTO tb_activity(activityname,activitystate,activitypic,activitystarttime,activityendtime,productid,activitytype)
        VALUES ('${activityname}','${activitystate}','${activitypic}','${activitystarttime}','${activityendtime}','${productid}','${activitytype}');
    </insert>

    <!--Integer updateActivity(Activity activity);-->
    <update id="updateActivity">
        UPDATE tb_activity
        <set>
            activitystate = '${activitystate}'
            <if test="activitypic!=null">
                , activitypic = '${activitypic}'
            </if>
            <if test="productid!=null">
                , productid = '${productid}'
            </if>
        </set>
        WHERE '${activityid}'=activityid
        <if test="activityname!=null">
            AND activityname = '${activityname}'
        </if>;

    </update>

    <!--Integer deleteActivity(Activity activity);-->
    <delete id="deleteActivity">
        DELETE FROM tb_activity WHERE id='${activityid}';
    </delete>

    <!--LinkedList<Activity> getActivity(Activity activity);-->
    <select id="getActivity" resultType="com.docker.qmmall.model.Activity">
        SELECT * FROM tb_activity ORDER BY activitytype;
    </select>

</mapper>