<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.qmmall.mapper.BannerMapper">


    <!--private Integer banner_id;-->
    <!--private String banner_pic;-->
    <!--private String prodicid;-->

    <!--Integer addBanner(Banner banner);-->
    <insert id="addBanner" parameterType="com.docker.qmmall.model.Banner" useGeneratedKeys="true"
            keyProperty="banner_id">
    INSERT  INTO tb_banner(banner_pic,productid)
    VALUES ('${banner_pic}','${productid}');
    </insert>

    <!--LinkedList getBanner(Banner banner);-->
    <!--<select id="getBanner" resultType="java.util.LinkedList">-->
    <select id="getBanner" resultType="com.docker.qmmall.model.Banner">
    SELECT * FROM  tb_banner;
</select>
</mapper>