<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.qmmall.mapper.OrderMapper">

    <!--private Integer id;-->
    <!--private Double totalprice;-->
    <!--private String user;-->
    <!--private Integer paymentstatus;-->
    <!--private String productinfo;-->
    <!--private String address;-->
    <!--private Date ordertime;-->
    <!--private Date finishtime;-->
    <!--private Integer payway;-->

    <!--Integer updateOrder(Order order);-->
    <update id="updateOrder">
        UPDATE tb_order
        SET  paymentstatus = '${paymentstatus}',
          finishtime = now(),
          payway = '${payway}',
        WHERE '${id}'=id;
    </update>

    <!--Integer commitOrder(Order order);-->
    <insert id="commitOrder" parameterType="com.docker.qmmall.model.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO tb_order(totalprice,user,paymentstatus,productinfo,address,ordertime)
                VALUES ('${totalprice}','${user}','${paymentstatus}','${productinfo}','${address}',now());
    </insert>

    <!--LinkedList<Order> getOrder(Order order);-->
    <select id="getOrder" resultType="com.docker.qmmall.model.Order">
        SELECT * FROM  tb_order WHERE  user='${user}'
        <if test="paymentstatus!=null">
            AND paymentstatus = '${paymentstatus}'
        </if>
        <if test="id!=null">
            AND id = '${id}'
        </if>;
    </select>
</mapper>