<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.qmmall.mapper.ProductBrandMapper">



    <!--Integer addProductBrand(ProductBrand productBrand);-->
    <insert id="addProductBrand" parameterType="com.docker.qmmall.model.ProductBrand" useGeneratedKeys="true"
            keyProperty="id">
        INSERT  INTO tb_productbrand(productbrand)
        VALUES ('${productbrand}');
    </insert>

    <!--LinkedLProductBrandServicerand> getProductBrand();-->
    <select id="getProductBrand" resultType="com.docker.qmmall.model.ProductBrand">
        SELECT * FROM  tb_productbrand;
    </select>
</mapper>