<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.qmmall.mapper.ProductTypeMapper">

    <!--private Integer id;-->
    <!--private String name;-->
    <!--private Integer type;-->


    <!--Integer addTProductTypetproductTypetype);-->
    <insert id="addType" parameterType="com.docker.qmmall.model.ProductType" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO tb_producttype(name,type) VALUES ('${name}','${type}')
    </insert>

    <!--Integer updateTProductTypetproductTypetype);-->
    <update id="updateType">
        UPDATE tb_producttype
        SET name = '${productType}'
        WHERE '${id}'=id
        <if test="type!=null">
            AND type = '${type}'
        </if>;
    </update>
    <!--Integer deleteType();-->
    <delete id="deleteType">
        DELETE FROM tb_producttype WHERE id='${id}';
    </delete>

    <!--&lt;!&ndash;LinkedLProductTypetype> getTProductTypetproductTypetype);&ndash;&gt;-->
    <!--<select id="getTpye" resultType="java.util.LinkedList">-->
        <!--SELECT * FROM  tb_producttype WHERE  name LIKE '${name}'-->
        <!--<if test="id!=null">-->
            <!--AND id = '${id}'-->
        <!--</if>-->
        <!--<if test="type!=null">-->
            <!--AND type = '${type}'-->
        <!--</if>;-->
    <!--</select>-->
    <!--getallTpye-->
    <select id="getallTpye" resultType="com.docker.qmmall.model.ProductType">
        SELECT * FROM tb_producttype;
    </select>
</mapper>