<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.qmmall.mapper.ProductMapper">

    <!--private Integer productid;-->
    <!--private String productname;-->
    <!--private Float productprice;-->
    <!--private String productpic;-->
    <!--private Integer productcount;-->
    <!--private Integer productsallcount;-->
    <!--private Integer producttype;-->
    <!--private Date producttime;-->
    <!--private Integer productbrandid;-->
    <!--private Integer productstate;-->
    <!--private String productdes;-->

    <!--Integer addProduct(Product product);-->

    <insert id="addProduct" parameterType="com.docker.qmmall.model.Product" useGeneratedKeys="true" keyProperty="productid">
        INSERT  INTO tb_product(productname,productprice,productpic,productcount,productsallcount,producttype,producttime,productbrandid,productstate,productdes)
                VALUES ('${productname}','${productprice}','${productpic}','${productcount}','${productsallcount}','${producttype}',now(),'${productbrandid}','${productstate}','${productdes}')
    </insert>


    <!--Integer updateProduct(Product product);-->
    <update id="updateProduct">
        UPDATE tb_product
        <set>
            productstate = '${productstate}'
            <if test="productname!=null">
                , productname = '${productname}'
            </if>
            <if test="productprice!=null">
                , productprice = '${productprice}'
            </if>
            <if test="productpic!=null">
                , productpic = '${productpic}'
            </if>
            <if test="productcount!=null">
                , productcount = '${productcount}'
            </if>
            <if test="productsallcount!=null">
                , productsallcount = '${productsallcount}'
            </if>
            <if test="producttype!=null">
                , producttype = '${producttype}'
            </if>
            <if test="productbrandid!=null">
                , productbrandid = '${productbrandid}'
            </if>
            <if test="productdes!=null">
                , productdes = '${productdes}'
            </if>
        </set>
        WHERE productid= '${productid}';
    </update>

    <!--Integer updateProductState(Product product);-->
    <update id="updateProductState">
        UPDATE tb_product
        SET productstate = '${productstate}'
        WHERE productid= '${productid}';
    </update>




    <!--LinkedList<Product> getProduct(Product product);-->
    <select id="getProduct" resultType="com.docker.qmmall.model.Product">
        SELECT * FROM tb_product WHERE
        productname LIKE '%${productname}%'
        <if test="productstate!=null">
            AND productstate = '${productstate}'
        </if>
        <if test="producttype!=null">
            AND producttype = '${producttype}'
        </if>
        <if test="productid!=null">
            AND productid = '${productid}'
        </if>;
    </select>

    <!--LinkedList<Product> getProductProfile(Product product);-->
    <select id="getProductProfile" resultType="com.docker.qmmall.model.Product">
        SELECT productid,productname,productprice,productpic FROM tb_product;
    </select>


    <!--LinkedList<Product> getProductById(Product product);-->
    <select id="getProductById" resultType="com.docker.qmmall.model.Product">
        SELECT * FROM tb_product
        WHERE productid= '${productid}';
    </select>

    <!--LinkedList<Product> getProductByState(Product product);-->
    <select id="getProductByState" resultType="com.docker.qmmall.model.Product">
        SELECT * FROM tb_product
        WHERE productstate= '${productstate}';
    </select>
</mapper>