<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.qmmall.mapper.CartMapper">

    <!--private Integer userid;-->
    <!--private Integer commodityid;-->
    <!--private Integer number;-->
    <!--private Float price;-->
    <!--private Float totalprice;-->

    <!--LinkedList<Shoppingcart> getCart(Shoppingcart shoppingcart);-->
    <insert id="addCart">
        INSERT  INTO shoppingcart(user_id,commodityid,number,price,totalprice) VALUES ('${user_id}','${commodityid}','${number}','${price}','${totalprice}')
    </insert>

    <!--Integer addCart(Shoppingcart shoppingcart);-->
    <select id="getCart" resultType="java.util.LinkedList">
        SELECT * FROM  shoppingcart WHERE  userid='${userid}'
        <if test="commodityid!=null">
            AND commodityid = '${commodityid}'
        </if>
    </select>
</mapper>