<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.qmmall.mapper.CommodityTypeMapper">

    <!--private Integer id;-->
    <!--private String name;-->
    <!--private Integer type;-->


    <!--Integer addType(Commoditytype commoditytype);-->
    <insert id="addType">
        INSERT  INTO commoditytype(name,type) VALUES ('${name}','${type}')
    </insert>

    <!--Integer updateType(Commoditytype commoditytype);-->
    <update id="updateType">
        UPDATE commoditytype
        SET name = '${commoditytype}'
        WHERE '${id}'=id
        <if test="type!=null">
            AND type = '${type}'
        </if>;
    </update>
    <!--Integer deleteType();-->
    <delete id="deleteType">
        DELETE FROM commoditytype WHERE id='${id}';
    </delete>
    <!--LinkedList<Commoditytype> getTpye(Commoditytype commoditytype);-->
    <select id="getTpye" resultType="java.util.LinkedList">
        SELECT * FROM  commoditytype WHERE  name LIKE '${name}'
        <if test="id!=null">
            AND id = '${id}'
        </if>
        <if test="type!=null">
            AND type = '${type}'
        </if>;
    </select>
</mapper>