<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.qmmall.mapper.UserMapper">

    <!--Integer reigster(User user);-->
    <!--private String user_id;-->
    <!--private String user_name;-->
    <!--private String user_nick;-->
    <!--private String user_password;-->
    <!--private String user_telephone;-->
    <!--private String user_icon;-->
    <!--private String user_address;-->
    <!--private Integer user_sex;-->
    <!--private String user_email;-->
    <insert id="reigster">
        INSERT  INTO tb_user(user_id,user_name,user_nick,user_password,user_telephone,user_icon,user_address,user_sex,user_email)
                VALUES ('${user_id}','${user_name}','${user_nick}','${user_password}','${user_telephone}','${user_icon}','${user_address}','${user_sex}','${user_email}')
    </insert>
    <!--User login(User user);-->
    
    <!--Integer findpass(User user);-->
    <update id="findpass">
        UPDATE tb_user
        SET user_password = '${user_password}'
        WHERE '${user_name}'=username;
    </update>
    <!--LinkedList<User> getUser(User user);-->
    <select id="getUser" resultType="java.util.LinkedList">
        SELECT * FROM  tb_user
        WHERE  user_telephone='${user_telephone}';
    </select>
</mapper>